<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf8</charset>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="console"/>
  </root>
  <logger name="com.github.benmanes.caffeine.cache.LocalLoadingCache" level="ERROR"/>
  <logger name="com.github.benmanes.caffeine.cache.LocalAsyncLoadingCache" level="ERROR"/>
</configuration>
