<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}">
<head>
	<title>Home</title>
	<div th:fragment="headerScripts">
		<script src="/static/script.js"></script>
	</div>
</head>
<body>
<section>
	<h1 th:if="${loggedIn}">username: <span th:text="${username}"></span></h1>
	<h1 th:unless="${loggedIn}">You are not logged in</h1>
	<p class="red-color">If this text is red then static resources are working</p>
	<code></code>
</section>
</body>
</html>
