<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	th:fragment="layout (title, content)"
>
<head>
	<title th:replace="${title}">Layout Title</title>
	<link rel="stylesheet" type="text/css" href="/static/foo.css" />
	<script src="/static/jquery-3.5.0.min.js"></script>
	<div layout:fragment="headerScripts" />
</head>
<body>
<h1>Layout H1</h1>
<div th:replace="${content}">
	<p>Layout content</p>
</div>
<footer>
	Layout footer
</footer>
	<div layout:fragment="footerScripts" />
</body>
</html>
